<!DOCTYPE html>
<html>
<head>
  <title>RestaurantMenu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>
          Greiner's Grub
        </h1>
      </div>
    </div>
  </nav>

</head>

<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
